<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../styles/main.css">
        <title><!-- Put title here --></title>
        <link rel="icon" type="image/png" href="../../assets/logo/logo.png">
        <meta name="keywords" content="Ral-Thorin">
        <meta property="og:image" content="assets/img/mapBackground.png">
    </head>
    <body>
        <div class="navHeader">
            <nav class="navBar">
                <a class="navBar__item active" href="https://ral-thorin.quest/">Accueil</a>
                <a class="navBar__item" href="../../glossaire.html">Glossaire</a>
                <div class="navBar__dropdown">
                    <a class="navBar__item" href="../../glossaire.html#regions">Régions</a>
                    <div class="navBar__dropdownContent">
                        <a class="navBar__dropdownButton" href="../../c/regions/aman-ylith.html">Aman Ylith</a>
                        <a class="navBar__dropdownButton" href="../../c/regions/karak-uol.html">Karak Uol</a>
                        <a class="navBar__dropdownButton" href="../../c/regions/val-brise.html">Val-Brisé</a>
                    </div>
                </div>
                <div class="navBar__dropdown">
                    <a class="navBar__item" href="../../glossaire.html#villes">Villes</a>
                    <div class="navBar__dropdownContent">
                        <a class="navBar__dropdownButton" href="../../c/villes/eauclaire.html">Eauclaire</a>
                        <a class="navBar__dropdownButton" href="../../c/villes/havregel.html">Havregel</a>
                        <a class="navBar__dropdownButton" href="../../c/villes/thaldrassin.html">Thaldrassin</a>
                        <a class="navBar__dropdownButton" href="../../c/villes/valimar.html">Valimar</a>
                    </div>
                </div>
                <div class="navBar__dropdown">
                    <a class="navBar__item" href="../../glossaire.html#lieux">Lieux</a>
                    <div class="navBar__dropdownContent">
                        <!-- A remplir quand besoin -->
                    </div>
                </div>
                <div class="navBar__dropdown">
                    <a class="navBar__item" href="../../glossaire.html#personnes">Personnes</a>
                    <div class="navBar__dropdownContent">
                        <a class="navBar__dropdownButton" href="../../c/personnes/eol.html">Eol</a>
                    </div>
                </div>
                <!--<a href="contact.html">Contact</a> -->
            </nav>
        </div>
        <main>
            <article>
                <header class="article__title">
                    <h1>
                        <!-- Put title here -->
                    </h1>
                </header>
                <section class="article__content">
                    <!-- Put content here -->
                </section>
            </article>
        </main>
        <footer>
            <p>Aesy</p>
        </footer>
    </body>
</html>