@font-face {
    font-family: 'im_fell_english_scregular';
    src: url('../assets/fonts/imfellenglishsc-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/imfellenglishsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('../assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('../assets/fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('../assets/fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('../assets/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('../assets/fonts/sourcesanspro-lightit-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-lightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../assets/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}



body {
    background-color:rgb(176, 176, 176);
    background-image: url(../assets/LowResMap.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.appBar {
    background-color: rgba(0, 0, 0, 0.877);
    width: 100%;
    height: 8rem;
    text-align: center;
    align-content: center;
}

.appBar__nav {
    float: left;
    padding-left: 4rem;
}

.appBar a {
    text-decoration: none;
    font-family: "im_fell_english_scregular";
    font-size: 20px;
    color: white;
}

article {
    background-image: url(../assets/background.jpg);
    margin: 2% 20%;
    padding: 1.5% 13%;
    box-shadow: 0px 0px 10px 10px #49494967;
    text-align: center;
    color: rgb(70, 40, 19);
    line-height: 1.4em;
    font-size: 16px;
    
}

.article__title {
    font-family: "im_fell_english_scregular";
    font-size: 25px;
    margin: 2rem;
}

article p {
    font-family: "source_sans_proregular";
    margin: 1rem;
}

article a {
    color: rgb(130, 32, 32);
    text-decoration: none;
    font-family: "source_sans_prosemibold";
}


footer {
    background-color: rgba(0, 0, 0, 0.877);
    width: 100%;
    height: 6rem;
    text-align: center;
    align-content: center; 
}

footer p {
    float: left;
    padding-left: 4rem;
    font-family: "im_fell_english_scregular";
    font-size: 17px;
    color: white;
}

@media (max-width:480px) {
    article {
        margin: 0;
        padding: 1rem 1rem;
    }
}